# Quickstart

The latest release of TAPE is installable via `pip`, using the following command:

```
pip install lf-tape
```

TAPE provides a scalable framework for analyzing astronomical time series data. Let's walk through a brief example where we calculate the Structure Function for a set of spectroscopically confirmed QSOs. First, we grab the available TAPE Stripe 82 QSO dataset:

In [24]:
from tape import Ensemble
ens = Ensemble() # Initialize a TAPE Ensemble
ens.from_dataset("s82_qso")

/Users/dbranton/miniforge3/envs/ray310/lib/python3.10/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 54315 instead
  warnings.warn(

This dataset contains 9,258 QSOs, we can view the first 5 entries in the "object" table to get a sense of the available object-level information:

In [25]:
ens.head("object", 5)

      nobs_g  nobs_i  nobs_r  nobs_u  ...       r       i       z     Au
dbID                                  ...
70        62      62      62      62  ...  20.197  20.040  20.000  0.116
98        52      52      52      52  ...  19.849  19.818  19.430  0.183
233       59      59      59      59  ...  20.431  20.199  20.099  0.154
1018      63      63      63      63  ...  19.784  19.485  19.541  0.178
1310      59      59      59      59  ...  19.610  19.705  19.529  0.174

[5 rows x 20 columns]

The Ensemble stores data in two `dask` dataframes, object-level information in the "object" table as shown above, and individual time series measurements in the "source" table. As a result, many operations on the Ensemble closely follow operations on `dask` (and by extension `pandas`) dataframes. Let's filter down our large QSO set to a smaller set with the total number of observations per object within a certain range:

In [26]:
ens = ens.query("nobs_total >= 95 & nobs_total <= 105", "object")

We can now view the entirety of our remaining QSO set:

In [27]:
ens.compute("object")

         nobs_g  nobs_i  nobs_r  nobs_u  ...       r       i       z     Au
dbID                                     ...
102187       19      19      19      19  ...  19.950  19.570  19.273  0.142
138158       21      21      21      21  ...  18.485  18.085  18.033  0.117
187596       19      19      19      19  ...  18.589  18.423  17.770  0.105
711662       20      20      20      20  ...  20.330  19.979  19.815  0.117
762267       19      19      19      19  ...  20.193  19.855  19.529  0.465
1128581      19      19      19      19  ...  18.889  18.333  18.346  0.398
1250783      21      21      21      21  ...  20.131  20.169  19.936  0.158
1254675      21      21      21      21  ...  19.007  18.873  18.387  0.161
1266724      21      21      21      21  ...  19.428  19.300  18.959  0.154
1393824      21      21      21      21  ...  19.341  18.971  18.955  0.235
1664567      19      19      19      19  ...  20.209  19.878  19.660  0.185
1988699      21      21      21      21  ...  18.501  18.290  18.265  0.217
3776342      21      21      21      21  ...  19.751  19.475  19.374  0.594
3777871      21      21      21      21  ...  20.220  19.896  19.482  0.622
3800671      20      20      20      20  ...  19.950  19.410  18.870  0.000
3867529      20      20      20      20  ...  21.118  20.557  20.189  0.436
3954424      21      21      21      21  ...  20.129  20.011  19.905  0.144
4938823      21      21      21      21  ...  20.427  20.034  19.599  0.661
4970580      19      19      19      19  ...  20.143  19.658  18.865  1.169
4974467      20      20      20      20  ...  20.370  20.470  20.590  0.000

[20 rows x 20 columns]

Finally, we can calculate the Structure Function for each of these QSOs, using the available TAPE Structure Function Module:

In [28]:
from tape.analysis import calc_sf2
ens.batch(calc_sf2, sf_method="macleod_2012") # The batch function applies the provided function to all individual lightcurves within the Ensemble

      lc_id band           dt        sf2  1_sigma
0    102187    g   212.944457  88.916180      0.0
1    102187    g  1113.928944   0.240870      0.0
2    102187    i   212.944457   0.130240      0.0
3    102187    i  1113.928944   0.132645      0.0
4    102187    r   212.944457   0.090280      0.0
..      ...  ...          ...        ...      ...
5   4974467    r  1857.713042   0.202760      0.0
6   4974467    u   330.626307   1.048580      0.0
7   4974467    u  1857.713042  56.866040      0.0
8   4974467    z   330.626307   1.309430      0.0
9   4974467    z  1857.713042   1.592850      0.0

[250 rows x 5 columns]

The result is a table of delta times (dts) and structure function (sf2) for each unique lightcurve (labeled by lc_id).